.main{
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.divBox{ 
    width:800px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.textlink{
    color: #0F66A0; 

}

.textlink:hover{
    text-decoration: underline;
}

.button{
    background: #0F66A0; 
    color: white;
}
.button:hover{
    background:rgb(42, 138, 201)
}

.sizeTextInput{
    height: 100px;
}

.sizeDropdown{
    height: 35px;
    width: 250px;
}

.sizeInput{
    width: 48%;
}

.sizeInputFull{
    height: 35px;
    width: 100%;
}

.plusicon{

    cursor: pointer;
}
