.main{
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.table {
    width: 100%;
  }

.divbo{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: 60px;
}
.divfilter{
    margin-top: 1%;
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
}

p {
    margin-bottom: 3%;
}

.greybox-left {
    padding-top: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    padding-left: 6%;
    background:#f5f5f5;
    border: 1.5px solid #e3e3e3;
    border-radius: 0.7em;
}

.greybox-right {
    margin-top: 2%;
    margin-left: 2%;
    //margin-right: 3%;
    //background:#ededed;
    //border-radius: 0.7em;
}

.left {
    width: 18%;
    float: left;
}

.right {
    margin-left: 18%;
}

.mapbox{
    width: 100%;
    height: 180pt;
}
.vertical{

    position: relative;
}

.mat-table {
    overflow: auto;
  }

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .border3{

    margin-left: 3%;
  }

.divfilterb2{
    margin-top: 30%;
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
    border:solid;
}
  
.bntHover{
    color: #3c4043;

  }

.bntHover:hover {
    color: #4285f4;
  }

.bntHover2{
    color: #3c4043;
    cursor: pointer;
    text-decoration: underline;
  }

.material-icons:hover{

    opacity: 0.6;
}

.bntHover2:hover {
    color: #4285f4;
    text-decoration: underline;
  }

.divLeft {
    float:left;
}

.divRight {
    float:left;
    padding:30px;
}

.middlebox{ 
    float:left;  
    width: 97%;
    padding-top: 14px;

    padding-bottom: 7px;
} 

.rightbox{ 
    padding-top: 14px;
    align-self: flex-start;
} 

.center {
    text-align: center;
    display: flex;
    justify-content: center;
}

.middle {
    text-align: center;
}

::ng-deep .mat-form-field{
    width:100px !important;
}

.filterBtn{
    display: flex;
    flex-wrap: wrap;
}

.button{
    background: #0F66A0; 
    color: white;
    vertical-align: middle;
}

.button:hover{
    background:rgb(42, 138, 201);
    cursor: pointer;
}

.center {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center2{
    width:125px !important;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {   

}

@media (min-width: 1470px) {    
    .east{
        margin-right: 10px;
   } 
}

.pageHeader{
	color: white;
    font-size: 18pt;
    font-weight: bold;
	background-color:rgb(42, 138, 201);
    height: 100px;
	width: 100%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-top: 1.5%;
}

.fontsize{
    font-size: 12.5pt;

}

.dataTag{
    font-size: 10pt;
    font-weight: bold;
    background:#7bb1be;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
}

.openTag{
    font-size: 10pt;
    font-weight: bold;
    background:#5cb85c;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
}

.closeTag{
    font-size: 10pt;
    font-weight: bold;
    background:#d9534f;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
}

.groupTag{
    font-size: 10pt;
    font-weight: bold;
    background:#777;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
}