<div class= pageHeader>
    {{title}}
</div>

<div class="main">

    <div class="left" >

        <div class="greybox-left">
          
            <p class="text-muted">Filters:</p>
            
            <div class='divfilter'>
    
                <p class="text-muted">Publication Year:</p>
                <div class="border3">

                
                <form [formGroup]="form" (ngSubmit)="years()" >
                        <div formArrayName="years" *ngFor="let year of form.controls.years.controls; let k = index">
                          <input type="checkbox" [formControlName]="k" [(ngModel)]="filterYear[years[k].name]"  (change)="filterChange()">
                          {{years[k].name}}
                        </div>
                    
                </form>
              </div>
            </div>

            <div class='divfilter'>

                    <p class="text-muted">Groups:</p>
                    <div class="border3">

                    <form [formGroup]="form" (ngSubmit)="repositories()" >
                            <div formArrayName="repositories" *ngFor="let repositorie of form.controls.repositories.controls; let l = index">
                              <input type="checkbox" [formControlName]="l" [(ngModel)]="filterRepository[repositories[l].name]"  (change)="filterChange()">
                              {{repositories[l].name}}
                            </div>
                        
                    </form>
                  </div>
            </div>

            <div class='divfilter'>

                    <p class="text-muted">Tags:</p>
                    <div class="border3">

                    <form [formGroup]="form" (ngSubmit)="categories()" >
                            <div formArrayName="categories" *ngFor="let categorie of form.controls.categories.controls; let i = index">
                              <input type="checkbox" [formControlName]="i" [(ngModel)]="filterCategory[categories[i].name]"  (change)="filterChange()">
                              {{categories[i].name}}
                            </div>
                        
                    </form>
                                          
                  </div>
            </div>

            <div class='divfilter'>

                    <p class="text-muted">Filetypes:</p>
                    <div class="border3">

                    <form [formGroup]="form" (ngSubmit)="filetypes()" >
                            <div formArrayName="filetypes" *ngFor="let filetype of form.controls.filetypes.controls; let m = index">
                              <input type="checkbox" [formControlName]="m" [(ngModel)]="filterFiletypes[filetypes[m].name]"  (change)="filterChange()">
                              {{filetypes[m].name}}
                            </div>
                        
                    </form>
                  </div>
            </div>

        </div>
    </div>
    <div class="right">

        <div class="greybox-right">
            <div class="divrepolist">

                <div class="example-container mat-elevation-z8">

                    <mat-table #table [dataSource]="dataSource">
    
                        <!-- dataset Column -->
                        <ng-container matColumnDef="dataset">
                            <mat-header-cell *matHeaderCellDef>
                                {{size}} publications
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" style="display: flex">

                                <div class="middlebox ">
                                    
                                    <a class="dataTag" style="padding-left: 7px; color: white; padding-right: 7px;">{{formatDate(element.metadata_created)}}</a> <a class="openTag" style="color: white" *ngIf="checkOpen(element.id)">Open Access</a>  <a class="groupTag" style="padding-left: 7px; color: white">{{element.groups[0].title}} ({{get_year(element.id)}})</a>

                                    <a style="font-weight: bold; padding-left: 7px" class="nav-item nav-link bntHover fontsize" [routerLink]="['/datasets', element.id]"> {{element.title}} ({{get_year(element.id)}})</a>
                                    
                                    <h6 style="padding-left: 7px" class="card-subtitle mb-2 text-muted">

                                        <a *ngFor="let author of element.authors; let j = index">
                                            <a class="spacetext">{{ author.name }}</a> 
                                            <a *ngIf="j !=  element.authors.length-1 && j !=  element.authors.length-2 ">, </a> 
                                            <a *ngIf="j ==  element.authors.length-2"> & </a>
                                        </a>
                                    </h6>
                                    <div style="padding-left: 7px; padding-top: 5px; flex-wrap: wrap; padding-bottom: 5px">
                                        <a> {{element.notes}} </a>
                                    </div> 
                                    <a style="padding-left: 7px; flex-wrap: wrap;" >Size: {{element.num_resources}} datasets; <a class="bntHover2" href="{{element.DOI}}">{{element.url}}</a></a>
                                </div>

                                <div class="rightbox">
                                  
                                    <button type="button" class="btn btn-outline-secondary"  [routerLink]="['/datasets', element.id]">View</button>

                                </div>
                                
                            </mat-cell>
                        </ng-container>
    
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
    
                    <mat-paginator #paginator [pageSize]="12" [pageSizeOptions]="[6, 12, 24]">
                    </mat-paginator>
                </div>
    
            </div>
        </div>
        <div style="margin-bottom: 105px">
        </div>
    </div>