<div class= pageHeader>
        Research groups
</div>

<div class="main">
    <div *ngFor="let group of groups; let j = index" class="groupsList">
        
            <mat-card class="tp-card click" (mouseover)="changeText(groups[j].group_id, true)" (mouseout)="changeText(groups[j].group_id, false)" > 

                    <span *ngIf="check(groups[j].group_id)">
                    <mat-card-content>
                        <div class="center">
                            <div class="left">
                                <h4>{{groups[j].name}}</h4>
                            </div>
                            <div class="right">
                                <span *ngIf="isFavorite(groups[j].group_id)">
                                <i  class="material-icons" style="padding-left: 4px;cursor: pointer;" (click)="RemoveDataset(groups[j].group_id)" matTooltip="Remove from Favorites">grade</i>
                                </span>
                                <span *ngIf="!isFavorite(groups[j].group_id)">
                                <i  class="material-icons" style="padding-left: 4px;cursor: pointer;"  (click)="SaveDataset(groups[j].group_id)" matTooltip="Save Dataset">bookmarks</i>
                                </span>
                            </div>
                            <div>
                                <br>
                                    {{groups[j].abstract | slice:0:356}}
                                <br>
                            </div>
                            <br>
                            <h5 class="textlink" [routerLink]="['/groups', groups[j].group_id]">Read more</h5>
                        </div>
                    </mat-card-content>
                    </span>
        
                    <span *ngIf="!check(groups[j].group_id)">
                    <img mat-card-image src={{groups[j].image}}>
                    <mat-card-content>
                        <div class="center">
                            <div class="left">
                                <h4>{{groups[j].name}}</h4>
                            </div>
                            <div class="right">
                                <span *ngIf="isFavorite(groups[j].group_id)">
                                <i  class="material-icons" style="padding-left: 4px;cursor: pointer;" (click)="RemoveDataset(groups[j].group_id)" matTooltip="Remove from Favorites">grade</i>
                                </span>
                                <span *ngIf="!isFavorite(groups[j].group_id)">
                                <i  class="material-icons" style="padding-left: 4px;cursor: pointer;"  (click)="SaveDataset(groups[j].group_id)" matTooltip="Save Dataset">bookmarks</i>
                                </span>
                            </div>
                        </div>
                    </mat-card-content>
                    </span>
        
            </mat-card>
        
    </div>

</div>
     
     