<!-- Footer -->
<nav class="navbar navbar-dark mt-5 fixed-bottom" style="background-color: #408194;">
        <div class="navbar-expand m-auto navbar-text">
                TerraBrasilis Reserach Data
                <div class="navbar-expand ml-auto navbar-nav">

        
        
            
                </div>
        </div>

        <div class="navbar-nav">
            
                <a class="nav-item nav-link" href="https://github.com/terrabrasilis-research-data">Github</a>
    
            </div>
    
    </nav>