.main{
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.divBox{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.textlink{
    color: #0F66A0;

}

.textlink:hover{
    cursor: pointer;
    text-decoration: underline;
}

.button{
    background: #0F66A0;
    color: white;
}
.button:hover{
    cursor: pointer;

    background:rgb(42, 138, 201)
}

.sizeTextInput{
    height: 100px;
}

.sizeDropdown{
    height: 35px;
    width: 150px;

}

.plusicon{

    cursor: pointer;
}

.desc{
    color: #6C7581;
}

.checkPad{
    margin-right: 10px;
}
