<div class="main">
    <div class="divBox">

            <div class="card">
                    <article class="card-body">
                    <div routerLink="/view/repositories" class="float-right btn button">My Repositories</div>
                    <h4 class="card-title mb-4 mt-1">New Repository</h4>

                    <form [formGroup]="formGroup" (validSubmit)="onSubmit()">

                        <div class="form-group">
                            <label>Name</label>
                            <input name="" class="form-control" formControlName="Name" [ngModel]="name" (ngModelChange)="nameModelChange($event)" placeholder="A descriptive title" type="text">
                        </div>

                        <div class="form-group">
                            <label>URL</label> 
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon3">http://localhost/</span>
                                    </div>
                                    <input name="" class="form-control" formControlName="RepoURL" [ngModel]="repourl" (ngModelChange)="repourlModelChange($event)" placeholder="Repositorie URL" type="text">
                                  </div>
                            
                        </div>
                        
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="" class="form-control" formControlName="Description" [ngModel]="description" (ngModelChange)="descriptionModelChange($event)" rows="3" placeholder="Some useful notes about the group" type="text"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Collaborators</label>
                            <div style="width: 15px"></div>
                            <select class="sizeDropdown sizeInput" formControlName="Collaborators" [ngModel]="collaborators" (ngModelChange)="collaboratorsModelChange($event)">
                                <ng-container *ngFor="let group of groups">
                                    <option *ngIf="group.ckan_group_id" value="{{group.group_id}}">
                                        {{group.name}}
                                    </option>
                                </ng-container>
                            </select>

                        </div>

                        <div class="form-group">
                            <label>Maintainer</label>
                            <input name="" class="form-control" formControlName="Maintainer" [ngModel]="maintainer" (ngModelChange)="maintainerModelChange($event)" placeholder="Maintainer name" type="text">
                        </div>
 
                        <div class="form-group">
                            <label>Categorie</label>
                            <div style="width: 15px"></div>

                            <select class="sizeDropdown" formControlName="Categorie" [ngModel]="categorie" (ngModelChange)="categorieModelChange($event)">
                                <option *ngFor="let categorie of categories" value="{{categorie.categorie_id}}">{{categorie.name}}</option>
                            </select>

                        </div>

                        <hr class="style1">

                        <div>
                            <label>Services</label>
                        </div>

                        <div class="desc">Select the services you want included in your Research Data Repository.</div>

                        <br>

                        <div>
                        <input class="checkPad" formControlName="PostgreSQL" type="checkbox" id="scales" name="scales" [ngModel]="postgres" (ngModelChange)="postgresModelChange($event)"
                                checked>
                        <label for="postgres">PostgreSQL</label>
                        </div>
                        
                        <div>
                            <input class="checkPad" formControlName="GeoServer" type="checkbox" id="scales" name="scales" [ngModel]="geoserver" (ngModelChange)="geoserverModelChange($event)"
                            checked>
                            <label for="geoserver">GeoServer</label>
                        </div>

                        <div>
                            <input class="checkPad" formControlName="GeoNetwork" type="checkbox" id="scales" name="scales" [ngModel]="geonetwork" (ngModelChange)="geonetworkModelChange($event)"
                            checked>
                            <label for="geonetwork">GeoNetwork</label>
                        </div>

                        <div>
                            <input class="checkPad" formControlName="TerraMA2" type="checkbox" id="scales" name="scales" [ngModel]="terrama2" (ngModelChange)="terrama2ModelChange($event)"
                            checked>
                            <label for="terrama2">TerraMA2</label>
                        </div>

                        <div>
                            <input class="checkPad" formControlName="OwnCloud" type="checkbox" id="scales" name="scales" [ngModel]="owncloud" (ngModelChange)="owncloudModelChange($event)"
                            checked>
                            <label for="owncloud">OwnCloud</label>
                        </div>

                        <hr class="style1">

                        <button class="btn btn-outline-secondary" type="button" (click)="onReset()">Reset</button>

                        <button class="btn btn-primary pull-right button" type="submit">Create repositorie</button>

                    </form>

                    </article>
                </div>
    </div>

                <div class=""  *ngIf="showMsg" style="width: 50%; margin-left: 25%; margin-right: 25%">
                        <div class="col-xs-12">
                        <p class="alert alert-success">
                            <strong>Successful creation!</strong> Please click <a routerLink="/view/repositories">here</a> to view!
                
                        </p>
                    </div>
                    </div>

                    <div style="margin-bottom: 95px">
                        </div>
</div>
