<div class="main">

        <div class="left">

            <div class="greybox-left">
                <p class="text-muted">Filters:</p>

                <div class='divfilter'>

                    <p class="text-muted">Categories:</p>

                </div>

                <div class='divfilter'>

                    <p class="text-muted">Keywords:</p>

                </div>
                <div class='divfilter'>

                    <p class="text-muted">Maps:</p>

                </div>
            </div>

        </div>
        <div class="right">

            <div class="greybox-right">
                <div class="divrepolist">
                    A
                </div>
            </div>

            <div class='divbo'></div>
        </div>

</div>