<div class="main">
        <div class="loginBox">
                <div class="card">
                        <article class="card-body">
                        <h4 class="card-title mb-4 mt-1">Sign up</h4>
                            You can sign up for a user account using this form.
                            <br>
                            <br>
                            <form [formGroup]="formGroup" (validSubmit)="onSubmit()">

                                <div class="form-group">
                                  <label class="control-label">User name</label>
                                  <input type="text" class="form-control" formControlName="Username"  [ngModel]="username" (ngModelChange)="usernameModelChange($event)">
                                </div>

                                <div class="form-group">
                                  <label class="control-label">Email</label>
                                  <input type="text" class="form-control" formControlName="Email" [ngModel]="email" (ngModelChange)="emailModelChange($event)">
                                </div>

                                <div class="form-group">
                                  <label class="control-label">Password</label>
                                  <input type="password" class="form-control" formControlName="Password" [ngModel]="password" (ngModelChange)="passwordModelChange($event)">
                                </div>

                                <div class="form-group">
                                  <label class="control-label">Reenter password</label>
                                  <input type="password" class="form-control" formControlName="RePassword">
                                </div>

                                <div class="form-group">
                                        <label class="control-label">Full name</label>
                                        <input type="text" class="form-control" formControlName="Fullname" [ngModel]="fullname" (ngModelChange)="fullnameModelChange($event)">
                                </div>

                                <button class="btn btn-outline-secondary" type="button" (click)="onReset()">Reset</button>

                                <button class="btn btn-primary pull-right button" type="submit">Submit</button>

                              </form>

                        </article>

                        </div>
        </div>

        <div class=""  *ngIf="showMsg" style="width: 50%; margin-left: 25%; margin-right: 25%; margin-top: 30px">
                <div class="col-xs-12">
                <p class="alert alert-success">
                    <strong>Registration Success!</strong> Please click <a routerLink="/login">here</a> to login!

                </p>
            </div>
            </div>

            <div class=""  *ngIf="showErrorMsg" style="width: 50%; margin-left: 25%; margin-right: 25%; margin-top: 30px">
              <div class="col-xs-12">
                  <p class="alert alert-danger">
                      <strong>Registration Failed!</strong> Something went wrong.
                  </p>
              </div>
          </div>

    </div>
