.main{
    margin-top: 60px;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.loginBox{ 
    width:420px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.textlink{
    color: #0F66A0; 

}

.textlink:hover{
    text-decoration: underline;
}

.button{
    background: #0F66A0; 
    color: white;
}
.button:hover{
    background:rgb(42, 138, 201)
}
.left{
    margin-left:5px;
}