<div class="main">
    <div class="divBox">

            <div class="card">
                    <article class="card-body">
                    <a routerLink="/view/repositories" class="float-right btn button">My Groups</a>
                    <h4 class="card-title mb-4 mt-1">New Groups</h4>
                    
                    <form>
                            <div class="form-group bottom">
                                    <label>Name</label>
                                    <input name="" class="form-control" placeholder="A descriptive name" type="text">
                                </div> <!-- form-group// -->

                                <div class="form-group bottom">

                                        <label>Description</label>
                                        
                                        <div class="form-group">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Some useful notes about the repositorie"></textarea>
                                        </div>

                                    </div> <!-- form-group// -->

                                        <div class="form-group bottom">
                                                <div>
                                                    <label>Categorie </label>
                                                    
                                                </div>
                                                <div>
                                                    <select class="sizeDropdown">
                                                            <option value="volvo">Volvo</option>
                                                            <option value="saab">Saab</option>
                                                            <option value="opel">Opel</option>
                                                            <option value="audi">Audi</option>
                                                    </select>
                                                </div>

                                            </div> <!-- form-group// -->
  
                                            <div class="form-group bottom">
                                                <label>Keywords</label>
                                                <input name="" class="form-control" placeholder="land use, land cover, processed images" type="text">
                                            </div> <!-- form-group// -->

                                            <div class="form-group bottom">
                                                    <label>Maintainer</label>
                                                    <input name="" class="form-control" placeholder="Joe Bloggs" type="text">
                                            </div> <!-- form-group// -->

                                            <div class="form-group bottom">
                                                <label>Language</label>
                                                <input name="" class="form-control" placeholder="Joe Bloggs" type="text">
                                            </div> <!-- form-group// -->

                                            <div class="form-group bottom">
                                                        <label>Bounding Box</label>
                                                        <input name="" class="form-control" placeholder="GEOJSON Bounding Box" type="text">
                                            </div> <!-- form-group// -->

                                            <div class="form-group bottom">
                                                <div>
                                                    <label>Custom Field</label>
                                                </div>
                                                        
                                                        Key <input name="" class="form-control" placeholder="" type="text">

                                                        Value <input name="" class="form-control" placeholder="" type="text">
                                                        
                                                        <br>

                                                        Key <input name="" class="form-control" placeholder="" type="text">

                                                        Value <input name="" class="form-control" placeholder="" type="text">
                                                        
                                            </div> <!-- form-group// -->

                                            <br>
                                            <hr class="style1">
                                            <br>

                                            <div>
                                                <label>Services</label>
                                            </div>

                                            <div class="desc">Select the services you want included in your Research Data Repositorie.</div>

                                            <br>

                                            <div>
                                              <input type="checkbox" id="scales" name="scales"
                                                     checked>
                                              <label for="postgres">PostgreSQL</label>
                                            </div>
                                            
                                            <div>
                                                <input type="checkbox" id="scales" name="scales"
                                                       >
                                                <label for="geoserver">GeoServer</label>
                                            </div>

                                            <div>
                                                <input type="checkbox" id="scales" name="scales"
                                                       >
                                                <label for="geonetwork">GeoNetwork</label>
                                            </div>

                                                <br>
                                                <hr class="style1">
                                                <br>
                                                
                              <div>
                                    <a routerLink="/signup" class="btn button">Create repositorie</a>
                              </div>
                    </form>

                    </article>
                    </div> 

    </div>
</div>
    