<div class="main">
    <div class="divBox">

            <div class="card">
                    <article class="card-body">
                    <a routerLink="/view/repositories" class="float-right btn button">My Groups</a>
                    <h4 class="card-title mb-4 mt-1">New Groups</h4>
                    
                    <form>
                            <div class="form-group bottom">
                                    <label>Name</label>
                                    <input name="" class="form-control" placeholder="A descriptive name" type="text">
                                </div> <!-- form-group// -->

                                <div class="form-group bottom">

                                        <label>Description</label>
                                        
                                        <div class="form-group">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Some useful notes about the repositorie"></textarea>
                                        </div>

                                    </div> <!-- form-group// -->

                                    <div class="form-group bottom">
                                        <label>Image</label> <br>
                                        <input type="file" name="myFile" placeholder="Joe Bloggs">
                                </div> <!-- form-group// -->


                                            <div class="form-group bottom">
                                                    <label>Maintainer</label>
                                                    <input name="" class="form-control" placeholder="Joe Bloggs" type="text">
                                            </div> <!-- form-group// -->

                                            <div class="form-group bottom">
                                                <label>Language</label>
                                                <input name="" class="form-control" placeholder="Joe Bloggs" type="text">
                                            </div> <!-- form-group// -->

                                            <div class="form-group bottom">
                                                <div>
                                                    <label>Custom Field</label>
                                                </div>
                                                        
                                                        Key <input name="" class="form-control" placeholder="" type="text">

                                                        Value <input name="" class="form-control" placeholder="" type="text">
                                                        
                                                        <br>

                                                        Key <input name="" class="form-control" placeholder="" type="text">

                                                        Value <input name="" class="form-control" placeholder="" type="text">
                                                        
                                            </div> <!-- form-group// -->

                                            <br>
                                            <hr class="style1">
                                            <br>

                                            <label>People</label>
  
                                            <div>
                                                
                                                <div class="firstbox">  <input name="" class="form-control" placeholder="Find a member..." type="text"> </div>
                                                <div class="secoundbox"> <a routerLink="" class="btn button">Invite member</a> </div>

                                            </div>
                                    
                                            <table class="table table-striped topMargin vertical">
                                                <thead>
                                                <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Last Login</th>
                                                <th scope="col"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let user of users; index as i">
                                                
                                                <td> 
                                                <div>
                                                        
                                                        <img src={{user.image}} class="image" alt="Avatar">
                                                            {{user.full_name}} 
                                                </div>
                                                <td>
                                                        {{user.email}}
                                                        
                                                </td>
                                                <td>
                                                        {{user.last_login | slice:0:17}}
                                                        
                                                </td>
                                                <td>
                                                        <a routerLink="/" class="btn button">Remove</a>
                                                        
                                                </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                                <br>
                                                <hr class="style1">
                                                <br>
                                                
                              <div>
                                    <a routerLink="/signup" class="btn button">Create group</a>
                              </div>
                    </form>

                    </article>
                    </div> 

    </div>
</div>
    