<div class="main">
    <div class="divBox">

            <div class="card">
                    <article class="card-body">
                    <div routerLink="/view/repositories" class="float-right btn button">My Groups</div>
                    <h4 class="card-title mb-4 mt-1">New Groups</h4>

                    <form [formGroup]="formGroup" (validSubmit)="onSubmit()">

                                <div class="form-group">
                                    <label>Name</label>
                                    <input name="" class="form-control" formControlName="Name" [ngModel]="name" (ngModelChange)="nameModelChange($event)" placeholder="A descriptive name" type="text">
                                </div>
         
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea name="" class="form-control" formControlName="Description" [ngModel]="description" (ngModelChange)="descriptionModelChange($event)" rows="3" placeholder="Some useful notes about the group" type="text"></textarea>
                                </div>

                                <div class="form-group bottom">
                                        <label>Image</label> <br>
                                        <input type="file" name="myFile" formControlName="Image" [ngModel]="image" (ngModelChange)="imageModelChange($event)">
                                </div>

        
                                <div class="form-group">
                                    <label>Maintainer</label>
                                    <input name="" class="form-control" formControlName="Maintainer" [ngModel]="maintainer" (ngModelChange)="maintainerModelChange($event)" placeholder="Maintainer name" type="text">
                                </div>

                
                                <div class="form-group">
                                        <label>Language</label>
                                        <input name="" class="form-control" formControlName="Language" [ngModel]="language" (ngModelChange)="languageModelChange($event)" placeholder="Language of the datasets" type="text">
                                </div>
        
                                <br>
                                <hr class="style1">
                                <br>

                                <label>People</label>

                                <div>

                                    <div> 
                                
                                        <mat-form-field appearance="fill" class="people">
                                                <mat-label class="textMenu">Select in users...</mat-label>
                                                <mat-select [(value)]="selected" class="textMenu" multiple> 
                                                <mat-option *ngFor="let user of users_no_logged" [value]="user">
                                                {{user.fullname}}
                                                </mat-option>
                                                </mat-select>
                                        </mat-form-field>

                                        <div class="btn button addBtn" (click)="AddUsers(selected)">Add member(s)</div>

                                    </div>

                                </div>
                        
                                <table class="table table-striped topMargin vertical">
                                    <thead>
                                    <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Created</th>
                                    <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let user of users_selected; index as i">
                                    
                                    <td> 
                                    <div>
                                            
                                            <img src={{user.image}} class="image" alt="Avatar">
                                                {{user.fullname}} 
                                    </div>
                                    <td>
                                            <a class="status" style="color: white" *ngIf="checkuserStatus(user.state)">active</a>
                                            <a class="statusOFF" style="color: white" *ngIf="!checkuserStatus(user.state)">deleted</a>
                                      
                                    </td>
                                    <td>
                                            {{user.created | slice:0:16}}
                                            
                                    </td>
                                    <td>
                                            <div *ngIf="isUser(user.fullname)" class="btn button" (click)="removeUser(user.id)">Remove</div>
                                            
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>

                                    <br>
                                    <hr class="style1">
                                    <br>
                                    
                                <button class="btn btn-outline-secondary" type="button" (click)="onReset()">Reset</button>
        
                                <button class="btn btn-primary pull-right button" type="submit">Create repositorie</button>
        
                            </form>
        

                    </article>
                    </div> 

    </div>

    <div class=""  *ngIf="showMsg" style="width: 50%; margin-left: 25%; margin-right: 25%">
                <div class="col-xs-12">
                <p class="alert alert-success">
                    <strong>Successful creation!</strong> Please click <a routerLink="/view/groups">here</a> to view!
        
                </p>
            </div>
            </div>

            <div style="margin-bottom: 75px">
                </div>
</div>
    