.main{
    margin-top: 60px;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.loginBox{
    width:350px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.textlink{
    color: #0F66A0;

}

.textlink:hover{
    cursor: pointer;
    text-decoration: underline;
}

.button{
    background: #0F66A0;
    color: white;
}

.button:hover{
    background:rgb(42, 138, 201)
}
