<div class="main">
    <div class="loginBox">

            <div class="card">
                    <article class="card-body">
                    <a routerLink="/signup" class="float-right btn button">Sign up</a>
                    <h4 class="card-title mb-4 mt-1">Sign in</h4>
                         <form>
                        <div class="form-group">
                            <label>Your email</label>
                            <input name="" class="form-control" placeholder="Email" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <a class="float-right textlink" href="#">Forgot?</a>
                            <label>Your password</label>
                            <input class="form-control" placeholder="******" type="password">
                        </div> <!-- form-group// --> 
                        <div class="form-group"> 
                        <div class="checkbox">
                          <label> <input type="checkbox"> Save password </label>
                        </div> <!-- checkbox .// -->
                        </div> <!-- form-group// -->  
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block button"> Login  </button>
                        </div> <!-- form-group// -->                                                           
                    </form>
                    </article>
                    </div> 

    </div>
</div>
    