<div class="main">
    <div class="loginBox">

            <div class="card">
                    <article class="card-body">
                     <button routerLink="/signup" class="btn btn-primary float-right button">Sign up</button>
                    <h4 class="card-title mb-4 mt-1">Sign in</h4>
                    <form [formGroup]="formGroup" (validSubmit)="onSubmit()">

                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" formControlName="Username"  [ngModel]="username" (ngModelChange)="usernameModelChange($event)">
                        </div> <!-- form-group// -->

                        <div class="form-group">
                            <a class="float-right textlink" href="#">Forgot?</a>
                            <label>Your password</label>
                            <input type="password" class="form-control" formControlName="Password" [ngModel]="password" (ngModelChange)="passwordModelChange($event)">
                        </div> <!-- form-group// --> 

                        <div class="form-group"> 
                        <div class="checkbox">
                          <label> <input type="checkbox"> Save password </label> 
                        </div> <!-- checkbox .// -->

                        </div> <!-- form-group// -->  
                        <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block button">Login</button>
                        </div> <!-- form-group// -->                                                           
                    </form>
                    </article>
                    </div> 

    </div>
</div>
    