<div class="main">
    <div class="loginBox">

            <div class="card">
                    <article class="card-body">
                     <button class="btn btn-primary float-right button">Sign up</button> <!--routerLink="/signup"-->
                    <h4 class="card-title mb-4 mt-1">Log in</h4>
                    <form [formGroup]="formGroup" (validSubmit)="onSubmit()">

                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" formControlName="Username"  [ngModel]="username" (ngModelChange)="usernameModelChange($event)">
                        </div> <!-- form-group// -->

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" formControlName="Password" [ngModel]="password" (ngModelChange)="passwordModelChange($event)">
                        </div> <!-- form-group// -->


                        <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block button">Login</button>
                        </div> <!-- form-group// -->

                        <span class="float-right textlink" href="#">Forgot password?</span>

                    </form>
                    </article>
                    </div>


    </div>
    <div class=""  *ngIf="showMsg" style="width: 50%; margin-left: 25%; margin-right: 25%; margin-top: 30px">
    <div class="col-xs-12">
        <p class="alert alert-danger">
            <strong>Log in Failed!</strong> Username or Password is incorrect.
        </p>
    </div>
</div>
</div>
