

.borderRight{
  -webkit-box-shadow: 5px 0 6px -2px #888;
          box-shadow: 5px 0 6px -2px #888;
}

.borderBotton{
    -webkit-box-shadow: 0px 6px 5px -3px #888;
            box-shadow: 0px 6px 5px -3px #888;
  }
  
.imageheader{
    height: 100%;
    width: 100%;
    background-image: url("../assets/images/banner-topo.jpg");
    background-position: left; 
    background-size: 250px;
}
.sidebar-header{
    height: 240px;
}

.bar-button{
 height: 45px;
 background-color: rgb(27, 121, 183)
}

.textlogo{
    align-items: center;
    align-content: center;
    text-align: center;
}
.amarelo {

    color: #f9c069;

}

.verde {

    color: #96c964;

}

.azul {
    color: white;
}

.sidebar-search{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
    height: 50px;
}

.textbar{
    font-size: 17px;
}

.btn-navbar{
    align-items: center;
    align-content: center;
    text-align: center;
    margin-right: 10px;
    margin-top: 6px;
}

.textlogo{
    font-size: 20px;
}

.textbar:hover{ 
    color: #6a737d;
}