.borderRight{
  -webkit-box-shadow: 6px 0 5px -2px #888;
          box-shadow: 6px 0 5px -2px #888;
}

.sidebar-header{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4px;
    border: solid;
    border-color: red;
    height: 210px;
}

.textlogo{
    align-items: center;
    align-content: center;
    text-align: center;
}
.amarelo {

    color: #f9c069;

}

.verde {

    color: #96c964;

}

.azul {

    color: white;

}

.sidebar-search{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border: solid;
    border-color: blue;
    height: 50px;
}

.textbar{
    font-size: 17px;
}

.textlogo{
    font-size: 20px;
}