<!-- Página -->
<div style="height: 100vh;">
    <div class="d-flex toggled" id="wrapper">

        <!-- Sidebar -->
        <div class="" id="sidebar-wrapper" style="background-color: rgb(16, 102, 161);">
            <div class="list-group list-group-flush">

                <!-- Sidebar Header -->
                <div class="sidebar-header">
                    <div class="imageheader">
                    </div>

                </div>

                <!-- Sidebar Desc -->
                <a class="textlogo">
                    <div class="navbar-header">

                    </div>
                </a>

                <!-- Bar button -->
                <div class="bar-button">
                    <!-- <i class="fa fa-home textlogo"  style="color: white;  margin: 5px; "> Home </i> -->
                </div>
    
            </div>

        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-dark box-shadow" style="background-color: rgb(3, 84, 139)">

                <div class="btn-navbar">
                    <i class="material-icons"  style="color:white; font-size: 24px; cursor: pointer;" (click)="OpenMenu()">menu
                    </i>
                </div>

                <a class="navbar-brand" [routerLink]="'/'">
                    <span class="verde textlogo">Terra</span><span class="amarelo textlogo">Brasilis</span> <span class="azul textlogo"> Research Data</span>
                </a>
                <div class="navbar-expand mr-auto">

                    <div class="navbar-nav">
                        <a class="nav-item nav-link textbar" [routerLink]="'/repositories'" style="color: white; ">Repositories</a>
                        <a class="nav-item nav-link textbar" [routerLink]="'/datasets'" style="color: white;">Datasets</a>
                    </div>

                </div>
                <div class="navbar-expand ml-auto navbar-nav">

                    <div class="navbar-nav">

                        <a class="nav-item nav-link textbar"  [routerLink]="'/login'" style="color: white;">Login</a>
                    </div>

                </div>
            </nav>

                <div class="main">
                    <router-outlet></router-outlet>

                </div>
            <!-- Footer -->
            <nav class="navbar navbar-dark mt-5 fixed-bottom " style="background-color: rgb(3, 84, 139);">
                    <div class="navbar-expand m-auto navbar-text textbar">
                            © 2019 TerraBrasilis Reserach Data
                            <div class="navbar-expand ml-auto navbar-nav">
                        
                            </div>
                    </div>
                    
                    <div class="navbar-nav">
                        
                            <a class="nav-item nav-link" href="https://github.com/terrabrasilis-research-data"><a class=" textbar" style="color: white;"><i class="fa fa-github"></i> Github</a></a>
                
                        </div>
                
                </nav>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    
    <!-- /#wrapper -->


</div>

