
.text-heading {
    font-weight: 320;
    padding-left: 17px;
    font-size: 23pt;
    color: white;
}

.textB {
    font-weight: 320;
    padding-left: 17px;
    font-size: 19pt;
    color: white;
}

.name{
    font-weight: 320;
}

.form-control{
    height: 42px;
}

.welcome{
    text-align: center;
    margin-top: 30px;
}

.bgimg {
    background-image:  url("../../../assets/images/banner15.jpg");
    height: 400px;
    width: 100%;
    padding-top: 100px;
}

.greybox {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 0.7em;
}

.font{
    font-family: 'Times New Roman';
}

.bold{
    font-size: 14pt;
}

.textRight{
    text-align: right;
}

.sizeText{
    font-size:12px;
    padding-bottom: 5px;
}

.graybox2{
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    height: 350px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;;
}

.box {
    padding: 5px;
}

.boxText {
    width: 20%;
    margin-left: 80%;
}

.boxRight {
    padding-bottom: 0px;
    text-align: right;
    align-content: right;
    /*border-style: solid;
    border-color: purple;*/
}

.button{
    background: #0F66A0; 
    color: white;
}
.button:hover{
    background:rgb(42, 138, 201)
}

.textlink{
    color: #0F66A0; 

}

.textlink:hover{
    text-decoration: underline;
    cursor: pointer;
}

.frontHead{
    font-size: 36px;
}


.center {
	width: 100%;
}

.left {
	width: 92%;
	float: left;
}

.right {
	margin-left: 92%;
}


.dataTag{
    font-size: 10pt;
    font-weight: bold;
    background:#7bb1be;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
}

.openTag{
    font-size: 10pt;
    font-weight: bold;
    background:#5cb85c;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
}

.closeTag{
    font-size: 10pt;
    font-weight: bold;
    background:#d9534f;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
}

.groupTag{
    font-size: 10pt;
    font-weight: bold;
    background:#777;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
}