.main{
    margin-left: 20%;
    margin-right: 20%;
}

.text-heading {
    font-weight: 300;
    padding-left: 17px;
}

.divteste{
    border-style: solid;
    border-color: green;
}

.greybox {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 65px;
    background:#ededed;
    border-radius: 0.7em;
    /*border-style: solid;
    border-color: blue; */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    /*border-style: solid;
    border-color: red; */
}

.box {
    padding-right: 10px;
    padding-left: 10px;
    /*border-style: solid;
    border-color: green;*/
}

.boxRight {
    padding-bottom: 0px;
    text-align: right;
    /*border-style: solid;
    border-color: purple;*/
}

a.btnpress:hover{
    color: #6a737d;
}