<div class='main'>
        <img class="imagem" src="assets/images/header.png" alt="Card image cap">
        <div class="greybox">
                <h1 class="text-heading">Dataset Search</h1>
            
                <div class="container">
                    <div class="input-group">
            
                        <input type="text" class="form-control" placeholder="Search by keywords, authors or dataset contents">
                        
                        <div class="input-group-append">
                            <button class="btn button" type="button">
                                <i class="fa fa-search" ></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="boxRight">
                        <div class="boxText">
                                <a class="nav-item nav-link textlink" [routerLink]="'/repositories'">Advanced Search</a>
                        </div>
                        
                    </div>
                
        </div>
            
        <div class="graybox2">
        
            <div>
                <p class="text-muted" style="padding-left: 5px">Latest Datasets:</p>
            </div>
            
            <div class="container">
                
                <div class="box" *ngFor="let new of news; let i = index">
                    <div class="" style="width: 100%">
                        <div>
                            <div class="sizeText font">{{news[i].created_on | slice:5:17}}</div>
                            <div class="font bold textlink" [routerLink]="['/datasets', news[i].id]">{{news[i].name | slice:0:23}}</div>
                            <div class="font">{{news[i].abstract | slice:0:130}} [...]</div>
                        </div>
                    </div>
                </div>
        
            </div>
        
            <div class="boxRight">
                    <div class="boxText">
                            <a class="nav-item nav-link textlink" [routerLink]="'/datasets'">More Datasets</a>
                    </div>
                    
                </div>

        </div>
</div>
