.text-heading {
    font-weight: 300;
    padding-left: 17px;
}

.greybox {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 65px;
    background:#ededed;
    border-radius: 0.7em;
    /*border-style: solid;
    border-color: blue; */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    /*border-style: solid;
    border-color: red; */
}

.box {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 35px;
    /*border-style: solid;
    border-color: green; */
}

.boxRight {
    padding-bottom: 0px;
    text-align: right;
    /*border-style: solid;
    border-color: purple;*/
}