.main{
    margin-top: 60px;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.divBox{ 
    font-size: 11pt;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 80%;
}

.status{
    font-weight: bold;
    background:#5cb85c;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}
.statusOFF{
    font-weight: bold;
    background:#d9534f;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

.topMargin{
    margin-top: 10px;
}

.abstract{
    width: 35%;
}

.line:hover{
    cursor: pointer;
    background: #dee2e6;;
}

