.main{
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.left {
    width: 25%;
    float: right;
}

.right {
    margin-right: 25%;
}

.greybox-left {
    padding-top: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    padding-left: 6%;
    background:#f5f5f5;
    border: 1.5px solid #e3e3e3;
    border-radius: 0.7em;
}

.greybox-right {
    margin-top: 2%;
    margin-left: 2%;
    //margin-right: 3%;
    //background:#ededed;
    //border-radius: 0.7em;
}

.publishIn{
    font-size: 10pt;
    margin-bottom: 5px;
}

.title {
    font-size: 25pt;
    color: #3c4043;
    margin-bottom: 15px;

}

img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
  }

.author{
    margin-bottom: 15px;
}

.textlink{
    color: #0F66A0; 

}

.textlink:hover{
    text-decoration: underline;
}

.spacetext{
    margin-left: 5px;
}