.main{
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.loginBox{ 
    width:65%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.textlink{
    color: #0F66A0; 

}

.textlink:hover{
    text-decoration: underline;
}

.button{
    background: #0F66A0; 
    color: white;
}
.button:hover{
    background:rgb(42, 138, 201)
}

.greybox-left {
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    background:#f5f5f5;
    border: 1.5px solid #e3e3e3;
    border-radius: 0.7em;
}

.greybox-right {
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    background:#f5f5f5;
    border: 1.5px solid #e3e3e3;
    border-radius: 0.7em;
}

.left {
    width: 48%;
    float: left;
}

.right {
    margin-left: 52%;
    width: 48%;
}

.up {
    margin-top: 5%;
}

.bottom{
    margin-bottom: 20px;

}

.leftmargin{
    margin-left:10px;
}

.bold{
    font-weight: bold;
}

.sizeTextInput{
    height: 100px;
}

.sizeDropdown{
    height: 35px;
    width: 150px;

}

.topMargin{
    margin-top: 10px;
}

.status{
    font-weight: bold;
    background:#5cb85c;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}
.statusOFF{
    font-weight: bold;
    background:#d9534f;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

.itemLine{
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-left: 10px;
    font-size: 12pt;
}