.main{
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.table {
    width: 100%;
  }

.divbo{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: 60px;
}
.divfilter{
    margin-top: 1%;
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
}

p{
    margin-bottom: 3%;
}

.greybox-left {
    padding-top: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    padding-left: 6%;
    background:#f5f5f5;
    border: 1.5px solid #e3e3e3;
    border-radius: 0.7em;
}

.greybox-right {
    margin-top: 2%;
    margin-left: 2%;
    //margin-right: 3%;
    //background:#ededed;
    //border-radius: 0.7em;
}


.left {
    width: 18%;
    float: left;
}

.right {
    margin-left: 18%;
}

.mapbox{
    width: 100%;
    height: 180pt;
}
.vertical{

    position: relative;
}

.mat-table {
    overflow: auto;
  }


.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .border3{

    margin-left: 3%;
  }

.divfilterb2{
    margin-top: 30%;
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
    border:solid;
}
  
.bntHover{
    color: #3c4043;

  }

.bntHover:hover {
    color: #4285f4;
  }

  .bntHover2{
    color: #3c4043;
    cursor: pointer;
    text-decoration: underline;
  }

.material-icons:hover{

    opacity: 0.6;
}

.bntHover2:hover {
    color: #4285f4;
    text-decoration: underline;
  }

.divLeft {
    float:left;
}

.divRight {
    float:left;
    padding:30px;
}

.middlebox{ 
    float:left;  
    width: 145vh;
    border: solid;
    height: 50px;
    line-height: 0.9;
} 

.rightbox{ 
    padding-top: 3px;
    border: solid;
    width: 16vh;
    height: 35px;
} 