.main{
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.left {
    float: right;
    width: 28%;
    margin: 0px;
}

.right {
    margin-right: 15%;
    width: 85%;
}

.greybox-left {
    padding-top: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    padding-left: 6%;
    background:#f5f5f5;
    border: 1.5px solid #e3e3e3;
    border-radius: 0.7em;
}

.greybox-right {
    margin-top: 2%;
    margin-left: 2%;
    //margin-right: 3%;
    //background:#ededed;
    //border-radius: 0.7em;
}

.publishIn{
    font-size: 10pt;
    margin-bottom: 1px;
    align-items: left;
    margin-right: 0px;
}

.title {
    font-size: 26pt;
    color: #3c4043;
    margin-bottom: 5px;
    align-items: left;
    margin-right: 0px;
    font-family: 'Times New Roman';

}

.author{
    font-size: 11pt;
    margin-bottom: 5px;
    align-items: left;
    margin-right: 0px;
}

.textlink{
    color: #0F66A0; 
}

.textlink:hover{
    text-decoration: underline;
    cursor: pointer;


}

.header{
    font-family: 'Times New Roman';
    margin-top: 8pt;
    font-size: 15pt;
    color: #3c4043;
    font-weight: bold;
}

.iconsd{

    font-size: 13pt;
    color: #0F66A0;
    text-align: center;
    vertical-align: top;
}

.cite{
    width: 80%;
}

.textAbstract{
    font-family: 'Times New Roman';

}

.divcite{
    display: table-cell;
    text-align: center;
}

.abstract{
    width: 80%;
    margin-top: 13pt;
    margin-bottom: 13pt;
}

.li
nks{
    font-size: 11.5pt;
}

.repoContent{
    width: 80%;
}

.marginBottom{
    margin-bottom: 13pt;
}

.textBox{

    word-wrap: break-word;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

img{
    border-radius: 5%;
    width: 60px;
    height: 60px;
    margin:3px;
}

.postgres{
    color: #336791
}

.geoserver{
    color: #0099CE
}

.geonetwork{
    color: #CCCC00
}

.metadataTopic{
    font-weight: bold;
}

.textMetadata{
    padding-top: 10px;
    font-size: 12pt;
    font-family: 'Times New Roman';
}

.ftextMetadata{
    font-size: 12pt;
    font-family: 'Times New Roman';
}
.space{
    margin-left: 20px;
    padding-top: 2px;
}

.titleService{
    font-weight: bold;
    padding-right: 50px;
}
.servicesRow{
    margin-bottom: 10px;
}

.status{
    font-weight: bold;
    background:#5cb85c;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}
.statusOFF{
    font-weight: bold;
    background:#d9534f;
    border-radius: 4pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}
.topMargin{
    margin-top: 10px;
}

.rightboxSide{
    float:right; 
    padding-left: 2px; 
    width: 90%;
    text-align: left;
    border:solid;
    border-color: red;

}

.middleboxSide{ 
    float:left;  
    width: 10%; 
    text-align: right;
    border:solid;
    border-color: green;
} 

.sizeline{
    align-items: center;
    align-content: center;
    padding-top: 10px;
}

.textBox{
    width: 360px;
}

.itemLine{
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-left: 10px;
}

.button{
    background: #0F66A0; 
    color: white;
}

.button:hover{
    background:rgb(42, 138, 201);
}

.sizeIcon{
    color: #4f5355;
    font-size: 25pt;
    position: relative;
  /* Adjust these values accordingly */
  margin-left: 2px;
  margin-right: 10px;
  vertical-align: middle;
}

.pageHeader{
	color: white;
    font-size: 18pt;
    font-weight: bold;
	background-color:rgb(42, 138, 201);
    height: 100px;
	width: 100%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-top: 1.5%;
}

.textCite{
    font-size: 14px;
}

.topicHead{
    margin-bottom: 15px;
    
}

.spacetext2{
    margin-right: 9px;
}

.exportBox{
    padding-bottom: 30px;
}

.chipsBox{
    margin-top: 25px;
    margin-bottom: 45px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    border-radius: 25px;
    color: rgba(0,0,0,0.6);
    background-color:#e4e4e4;
    margin-right: 10px;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
